In [1]:
import pandas as pd

In [2]:
# Function for extracting data from eurostat 

def get_eurostat_datasets(dataset_name):
    csv_url = f"https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/{dataset_name}/?format=SDMX-CSV&lang=en&label=label_only"
    return pd.read_csv(csv_url)

In [3]:
# Print all the column values

def get_column_values(dataset):
    unique_column_values = {}
    for column in dataset.columns:
        if dataset[column].dtype == object:
            unique_column_values.update({column: dataset[column].unique()})

    return unique_column_values

In [4]:
# Get frequencies by alcohol consumption datasets

freq_education = get_eurostat_datasets('hlth_ehis_al1e')
freq_income = get_eurostat_datasets('hlth_ehis_al1i')
freq_urbanisation = get_eurostat_datasets('hlth_ehis_al1u')

In [5]:
get_column_values(freq_education)

{'DATAFLOW': array(['ESTAT:HLTH_EHIS_AL1E(1.0)'], dtype=object),
 'LAST UPDATE': array(['01/04/22 23:00:00'], dtype=object),
 'freq': array(['Annual'], dtype=object),
 'unit': array(['Percentage'], dtype=object),
 'frequenc': array(['Every day', 'Less than once a month', 'Every month',
        'Not in the last 12 months', 'Never',
        'Never or not in the last 12 months', 'Every week'], dtype=object),
 'isced11': array(['Less than primary, primary and lower secondary education (levels 0-2)',
        'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)',
        'Tertiary education (levels 5-8)', 'All ISCED 2011 levels'],
       dtype=object),
 'sex': array(['Females', 'Males', 'Total'], dtype=object),
 'age': array(['Total', 'From 15 to 19 years', 'From 15 to 24 years',
        'From 15 to 29 years', 'From 15 to 64 years',
        'From 18 to 24 years', 'From 18 to 44 years',
        'From 18 to 64 years', 'From 20 to 24 years',
        'From 25 to 29 years', 'From 25 to 34 years',
        'From 25 to 64 years', 'From 35 to 44 years',
        'From 45 to 54 years', 'From 45 to 64 years',
        'From 55 to 64 years', 'From 65 to 74 years', '18 years or over',
        '65 years or over', '75 years or over'], dtype=object),
 'geo': array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany',
        'Denmark', 'Estonia', 'Greece', 'Spain',
        'European Union - 27 countries (from 2020)',
        'European Union - 28 countries (2013-2020)', 'Finland', 'France',
        'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania',
        'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Norway', 'Poland',
        'Portugal', 'Romania', 'Serbia', 'Sweden', 'Slovenia', 'Slovakia',
        'Türkiye', 'United Kingdom'], dtype=object),
 'OBS_FLAG': array([nan, 'u', 'e', 'd', 'du'], dtype=object)}

In [6]:
# Get frequencies of heavy episodic drinking 

freq_heavy_education = get_eurostat_datasets('hlth_ehis_al3e')
freq_heavy_income = get_eurostat_datasets('hlth_ehis_al3i')
freq_heavy_urbanisation = get_eurostat_datasets('hlth_ehis_al3u')

In [7]:
get_column_values(freq_heavy_education)

{'DATAFLOW': array(['ESTAT:HLTH_EHIS_AL3E(1.0)'], dtype=object),
 'LAST UPDATE': array(['01/04/22 23:00:00'], dtype=object),
 'freq': array(['Annual'], dtype=object),
 'unit': array(['Percentage'], dtype=object),
 'frequenc': array(['At least once a week', 'Less than once a month', 'Every month',
        'Never or not in the last 12 months'], dtype=object),
 'isced11': array(['Less than primary, primary and lower secondary education (levels 0-2)',
        'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)',
        'Tertiary education (levels 5-8)', 'All ISCED 2011 levels'],
       dtype=object),
 'sex': array(['Females', 'Males', 'Total'], dtype=object),
 'age': array(['Total', 'From 15 to 19 years', 'From 15 to 24 years',
        'From 15 to 29 years', 'From 15 to 64 years',
        'From 18 to 24 years', 'From 18 to 44 years',
        'From 18 to 64 years', 'From 20 to 24 years',
        'From 25 to 29 years', 'From 25 to 34 years',
        'From 25 to 64 years', 'From 35 to 44 years',
        'From 45 to 54 years', 'From 45 to 64 years',
        'From 55 to 64 years', 'From 65 to 74 years', '18 years or over',
        '65 years or over', '75 years or over'], dtype=object),
 'geo': array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany',
        'Denmark', 'Estonia', 'Greece', 'Spain',
        'European Union - 27 countries (from 2020)',
        'European Union - 28 countries (2013-2020)', 'Finland', 'France',
        'Croatia', 'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania',
        'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Norway', 'Poland',
        'Portugal', 'Romania', 'Serbia', 'Sweden', 'Slovenia', 'Slovakia',
        'Türkiye', 'United Kingdom'], dtype=object),
 'OBS_FLAG': array([nan, 'u', 'e', 'd', 'du'], dtype=object)}

In [8]:
# Get frequencies of hazardous drinking 

freq_haz_education = get_eurostat_datasets('hlth_ehis_al2e')
freq_haz_income = get_eurostat_datasets('hlth_ehis_al2i')
freq_haz_urbanisation = get_eurostat_datasets('hlth_ehis_al2u')

In [9]:
get_column_values(freq_haz_education)

{'DATAFLOW': array(['ESTAT:HLTH_EHIS_AL2E(1.0)'], dtype=object),
 'LAST UPDATE': array(['21/03/19 23:00:00'], dtype=object),
 'freq': array(['Annual'], dtype=object),
 'unit': array(['Percentage'], dtype=object),
 'isced11': array(['Less than primary, primary and lower secondary education (levels 0-2)',
        'Upper secondary and post-secondary non-tertiary education (levels 3 and 4)',
        'Tertiary education (levels 5-8)', 'All ISCED 2011 levels'],
       dtype=object),
 'sex': array(['Females', 'Males', 'Total'], dtype=object),
 'age': array(['Total', 'From 15 to 24 years', 'From 15 to 29 years',
        'From 15 to 64 years', 'From 18 to 24 years',
        'From 18 to 44 years', 'From 18 to 64 years',
        'From 25 to 34 years', 'From 25 to 64 years',
        'From 35 to 44 years', 'From 45 to 54 years',
        'From 45 to 64 years', 'From 55 to 64 years',
        'From 65 to 74 years', '18 years or over', '65 years or over',
        '75 years or over', 'From 15 to 19 years', 'From 20 to 24 years',
        'From 25 to 29 years'], dtype=object),
 'geo': array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany',
        'Denmark', 'Estonia', 'Greece', 'Spain',
        'European Union - 27 countries (from 2020)',
        'European Union - 28 countries (2013-2020)', 'Finland', 'Croatia',
        'Hungary', 'Ireland', 'Iceland', 'Italy', 'Lithuania',
        'Luxembourg', 'Latvia', 'Malta', 'Norway', 'Poland', 'Portugal',
        'Romania', 'Sweden', 'Slovenia', 'Slovakia', 'Türkiye',
        'United Kingdom'], dtype=object),
 'OBS_FLAG': array([nan, 'e', 'u'], dtype=object)}